/*  GOOGLE FONTS defined here*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*BASE defined here*/
*,
::before,::after {box-sizing: border-box;}
html {scroll-behavior: smooth;}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem; 
  color: #101010;
  line-height: 1.6;
  background-color: #FFFDEC;
}
h1,h2,p {margin: 0;}
ul {margin: 0;padding: 0;list-style: none;}
a {text-decoration: none;color: #101010;}
img {max-width: 100%;height: auto;}
/* Class CSS defined here   */
.section {padding: 2rem 0;}
.section-title {
  font-size: 1.25rem;
  color: #101010;
  margin: 2rem 0 0.5rem;
  text-align: center;
}
.section-all {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  color: #606060;
  text-align: center;
  margin-bottom: 1rem;
}
/*  LAYOUT defined here */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem ;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #FFFDEC;
}
/*  NAV defined here */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: #FFFDEC;
    transition: 0.5s;
  }
  .nav_item {margin-bottom: 2rem;}
  .nav_link {color: #101010;font-weight: 600;}
  .nav_link:hover {color: #e55947;}
  .nav_logo {font-weight: 700;}
  .nav_cart {font-size: 1.5rem;margin-right: 1rem;}
  .nav_toggle {font-size: 1.5rem;cursor: pointer;}
}
/*=== Show menu ===*/
.show {right: 0;}
.active {color: #e55947;}
/*  HOME  */
.home {background-color: #FFFDEC;}
.home_container {height: calc(100vh - 3rem);}
.home_data {padding-top: 6rem;}
.home_title {
  align-self: center;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}
.home_title span {font-size: 1.5rem;}
.home_img {position: absolute;right: 0;bottom: -600;width: 400px;}
/* BUTTONS defined here*/
.button {
  display: inline-block;
  background-color: #e55947;
  color: #FFFDEC;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  transition: 0.3s;
}
.button:hover {background-color: #d2321e;}
/*  COLLECTION defined here */
.collection_container {row-gap: 2rem;}
.collection_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #FFFDEC;
  transition: 0.3s;
}
.collection_box:hover {transform: translateY(-0.5rem);}
.collection_img {width: 100px;}
.collection_title {
  font-size: 1.5rem;
  list-style: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.collection_subtitle {font-size: 1.25rem;color: #606060;}
.collection_view {font-size: 0.75rem;color: #606060;}
.collection_view:hover {text-decoration: underline;}
/*  merch PRODUCTS defined here */
.merch_container {row-gap: 2rem;}
.merch_product {transition: 0.3s;}
.merch_product:hover {transform: translateY(-0.5rem);}
.merch_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFDEC;
}
.merch_new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e55947;
  color: #FFFDEC;
  padding: 0.3rem 0.75rem;
  font-size: 0.75rem;
}
.merch_data {text-align: center;}
.merch_name {margin-bottom: 0.5rem; text-transform: uppercase; font-size: 0.938rem;}
.merch_price {color: #606060; font-weight: 600;}
/*  alumni defined here */
.alumni_bg {background: url("Alumni.webp") no-repeat center/cover; text-align: center; height :400px;}
.alumni_data {padding: 8.5rem 0.25rem; background: rgba(0, 0, 0, 0.5); color: #fafaff;}
.alumni_title {font-size: 1.5rem; letter-spacing: 0.2rem; text-transform: uppercase; font-weight: 600;}
.alumni_description {margin-bottom: 1rem; letter-spacing: 0.2rem;}
/*  suggestion  defined here */
.suggestion {text-align: center;}
.suggestion_description {margin-bottom: 1rem;font-size: 0.75rem;color: #606060;}
.suggestion_form {display: grid;grid-template-columns: 1fr 0.5fr;}
.suggestion_input {outline: none;border: none;background-color: #f0f1f3;padding: 0 1rem;}
/*  collage define here */
.collage_container {grid-template-columns: repeat(2, 1fr);row-gap: 2rem;padding: 1.5rem 0;}
.collage_logo {display: flex;justify-content: center;}
.collage_logo img {width: 80px;}
/*  FOOTER defined here */
.footer {background-color: #101010;color: #FFFDEC;}
.footer_container {row-gap: 1.5rem;margin-bottom: 2rem;}
.footer_title {margin-bottom: 0.5rem;}
.footer_deal {margin-bottom: 1rem;}
.footer_store {width: 100px;}
.footer_link,
.footer_social {color: #606060;}
.footer_link:hover {text-decoration: underline;}
.footer_copy {
  border-top: 1px solid #606060;
  padding-top: 3rem;
  text-align: center;
  columns: #606060;
  font-size: 0.75rem;
}
/*   Media Queries are defined here */
@media screen and (min-width: 768px) {
  body {margin: 0;}
  .section-all {margin-bottom: 2rem;}
  .nav {height: calc(3rem + 1rem);justify-content: initial;}
  .nav_menu {margin-left: auto;}
  .nav_list {display: flex;}
  .nav_item {margin-left: 2rem; margin-bottom: 0;}
  .nav_toggle {display: none;}
  .home_container {height: 100vh;}
  .home_data {padding: 0;height: max-content;align-self: center;}
  .home_title {line-height: 0.8;letter-spacing: 1.5rem;}
  .home_img {width: 370px;}
  .collection_container {grid-template-columns: repeat(2, 1fr);grid-template-rows: 1fr;}
  .collection_box {padding: 0.5rem 3rem 0;}
  .collection_img {width: 130px;}
  .merch_container,
  .collage_container,
  .footer_container {grid-template-columns: repeat(4, 1fr);}
  .alumni_data {padding: 5re 0;}
  .new_container {grid-template-columns: repeat(3, 1fr);}
  .suggestion_form {width: 400px;margin: 0 auto;}
  .footer_container {padding: 2rem 0;}
}
@media screen and (min-width: 1024px) {
  .bd-grid {margin-left: auto;margin-right: auto;}
  .home_data {padding-left: 7rem;}
  .home_img {right: 15%;}
}
